In [1]:
import pandas as pd

In [24]:
sp_df = pd.read_csv('SP500_raw.csv')
sp_df = sp_df.drop(['Adj Close'],axis=1)

In [25]:
sp_df['Average Price'] = (sp_df['High'] + sp_df['Low']) / 2
sp_df['Turnover'] = sp_df['Volume'] * sp_df['Average Price']
sp_df = sp_df.drop(['Average Price'],axis=1)
sp_df['Ups and downs'] = sp_df['Close'].diff()
sp_df['Close Pct Change'] = sp_df['Close'].pct_change() * 100
sp_df = sp_df.iloc[1:,:]
sp_df.columns = ['date','Opening price', 'Highest price', 'Lowest price','Closing price', 'Volume(share)', 'Turnover(USD)', 'Ups and downs', 'Change(%)']
sp_df = sp_df.set_index('date')

In [26]:
sp_df

,Opening price,Highest price,Lowest price,Closing price,Volume(share),Turnover(USD),Ups and downs,Change(%)
date,,,,,,,,
1990-01-03,359.690002,360.589996,357.890015,358.760010,192330000,6.909263e+10,-0.929992,-0.258554
1990-01-04,358.760010,358.760010,352.890015,355.670013,177000000,6.298103e+10,-3.089997,-0.861299
1990-01-05,355.670013,355.670013,351.350006,352.200012,158530000,5.604194e+10,-3.470001,-0.975624
1990-01-08,352.200012,354.239990,350.540009,353.790009,140110000,4.937336e+10,1.589997,0.451447
1990-01-09,353.829987,354.170013,349.609985,349.619995,155210000,5.461685e+10,-4.170014,-1.178669
...,...,...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,1.448695e+13,7.879883,0.166006
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,2513910000,1.199534e+13,20.120117,0.423169
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,2748450000,1.312974e+13,6.830078,0.143046
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,2698860000,1.291982e+13,1.770020,0.037017
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,3126060000,1.491196e+13,-13.520020,-0.282648

In [27]:
sp_df.to_csv("SP500.csv", header=True, index=True)